*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
header {
    font-size: 0.5em;
    color: rgb(3, 3, 163);
    text-align: center;
}

form {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0 0 0/0.1);
    background-color: #eee;
    /* display: grid; */
}
span {
    color: blue;
}
fieldset {
    display: grid;
    grid-gap: 0.1rem;
    height: 500px;
}
p {
    background-color: #000;
    color: #fff;
    width: 200px;
    margin: 10px auto;
    padding: 1em ;
    text-align: center;
}
button {
    background-color: blue;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: #fff;
}
 header h1 input[type='checkbox']{
    accent-color: #000;
 }
