.callout {
	max-width: 400px;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgb(0,0,0,.1);
    background-color:#247;
    color:#fff;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    background-color: #bbb;
    width: 100px;
    height: auto;
    
}

blockquote {
    margin: 10px;
	
}

cite {
    display: block;
    border-top: dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
	
}